/* 960px以上に適用されるCSS（PC用） */
* {
    /* user-select: none; */
    color: #fff;
}
::-webkit-scrollbar{
    display: none;
}
html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
    text-align: center;
    overflow-x: hidden;
}
#stalker {
    pointer-events: none;
    position: fixed;
    top: -8px;
    left: -8px;
    width: 16px;
    height: 16px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 50%;
    transform: translate(0,0);
    transition: transform 0.2s;
    transition-timing-function: ease-out;
    z-index: 999;
}
h2 {
    color: #fff;
    font-family: 'Fascinate', cursive;
    margin: 0;
    height: 50px;
}
.tc {
    position: sticky;
    display: inline-block;
}
#canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #04BBD3;
    overflow-x: hidden;
}
#header {
    position: absolute;
    top: 0;
    background-color: #fffa;
    width: 100%;
    text-align: right;
    z-index: 998;
}
#header h1 {
    position: absolute;
    left: 3%;
    top: 0;
    font-family: 'Fascinate', cursive;
    font-size: 28px;
    margin: 10px auto auto;
    display: inline-block;
    cursor: pointer;
}
#header .tc {
    transform: translateX(-80%);
    font-size: small;
    opacity: 0.8;
}
#header ul {
    display: inline-block;
    width: 50%;
    margin-right: 10px;
}
#header ul li {
    display: inline-block;
    margin-right: 5%;
}
#header ul li a {
    color: #333;
    text-decoration: none;
}
#head-ex {
    margin-left: 5px;
    border: none;
}
#body0 {
    display: none;
}
#body1 {
    position: sticky;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); */
    z-index: 1;
    width: 100%;
}
#body1 h2 {
    font-size: 36px;
    height: 70px;
    padding: 50px 0 0;
    /* margin: 80px auto 50px; */
}
#videoplayer {
    z-index: 1000;
}
#body2 {
    position: absolute;
    top: 30%;
    left: 0%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);

    z-index: 998;
}
#body2 .tc {
    transform: translateX(60%);
}
#body3 {
    position: absolute;
    top: 30%;
    right: 0%;
    transform: translateX(50%);
    -webkit-transform: translate(50%);
    -ms-transform: translate(50%);
    z-index: 998;
}
#body3 .tc {
    transform: translateX(-60%);
}
.icom {
    height: 300px;
    animation: 5s linear infinite rotation;
}
.iframe-wrapper iframe {
    width: 640px;
    height: 360px;
}
.ad{ /* 広告 */
    position: sticky;
    height: 300px;
}
.x {
    color: #0bd;
    background-color: #fffd;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 100px;
    right: 35%;
}
.ad img {
    width: 30%;
    height: auto;
    margin: 100px 0 0;
}
.ad p {
    color: #888;
}
#body5 { /* ランキング */
    position: sticky;
    width: 100%;
    /* height: 500px; */
    /* overflow-y: scroll; */
    vertical-align: middle;
    text-align: left;
    /* margin: 50px auto 100px; */
    background-color: #8888;
    padding-top: 50px;
    padding-bottom: 50px;
}
#body5 h2 {
    /* width: 50%; */
    display: inline-block;
    margin: auto 30% auto 25%;
}
#body5 button {
    display: inline-block;
    vertical-align: middle;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    background-color: #fff8;
    color: #fff;
    transition: 0.2s;
}
#body5 button:hover {
    background-color: #fff1;
    transform: scale(1.1);
    transition: 0.2s;
}
#body5 button:active {
    opacity: 0.5;
}
#container {
    text-align: left;
    width: 50%;
    margin-left: 20%;
    margin: auto;
    /* display: inline-block; */
}
.item {
    margin-top: 30px;
    width: 130%;
}
.hide {
    display: none;
}
#container ul li {
    display: inline-block;
    text-decoration: none;
    height: 50px;
    vertical-align: middle;
    /* font-weight: bold; */
}
.thli {
    width: 5%;
    position: relative;
}
.name {
    width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 20px;
}
.thumb {
    width: 100%;
    height: auto;
    margin-left: 10px;
}
#body7{ /* 再生リスト */
    position: sticky;
    width: 100%;
}
#body9{ /* フォーム埋め込み */ 
    position: sticky;
    width: 100%;
}
#form {
    width: 50%;
    height: 1000px;
    margin: auto;
    text-align: center;
}
#btn {
    width: 30%;
    height: 50px;
    background-color: #fffa;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
}
#btn:hover {
    background-color: #fffd;
    transition: 0.2s;
    transform: scale(1.015); /* ホバー時1.5%拡大 */
}
#btn:active {
    background-color: #0000;
    transition: 0.1s;
}
footer{
    position: relative;
    width: 100%;
    background-color: #fffa;
    margin: 0;
    height: 200px;
}
footer p {
    margin: 0;
}
footer ul {
    display: inline-block;
    width: 50%;
    margin-right: 10px;
    margin: 30px auto 30px;
}
footer ul li {
    display: inline-block;
    margin-right: 5%;
}
footer ul li a {
    color: #333;
    text-decoration: none;
}
#foot-ex {
    margin-left: 5px;
    border: none;
}
#copy {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
/* 共通箇所 */

#loading {
    width: 100%;
    height: 100%;
    transition: all 1s;
    background-color: #0bd;
    /* 以下のコードを追加 */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

#loading img {
    margin-top: 15vw;
    animation: 5s linear rotation2 infinite;
    animation-timing-function: ease-in;
}

@keyframes rotation2 {
0% {
    transform: rotate(0) translateY(-100vw) scale(1);
    ;
}
20% {
    transform: rotate(0) translateY(0) scale(1);
}
80% {
    transform: rotate(1280deg) scale(1);
}
100% {
    transform: rotate(3290deg) scale(1);
    opacity: 1;
}
}

.loaded {
transform: rotate(0) scale(4) translateY(25vw);
opacity: 0;
visibility: hidden;
}

@keyframes rotation {
0% {
    transform: rotate(0);
}
100% {
    transform: rotate(360deg);
}
}