html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow-x: hidden;
}
/* 480px以下に適用されるCSS（スマホ用） */
#canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #04BBD3;
}/* 960px以上に適用されるCSS（PC用） */
* {
    user-select: none;
    color: #fff;
}
::-webkit-scrollbar{
    display: none;
}
html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
    text-align: center;
    overflow-x: hidden;
}
section:not(#header) {
    padding-bottom: 100px;
}
#stalker {
    pointer-events: none;
    position: fixed;
    top: -8px;
    left: -8px;
    width: 16px;
    height: 16px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 50%;
    transform: translate(0,0);
    transition: transform 0.2s;
    transition-timing-function: ease-out;
    z-index: 999;
}
h2 {
    color: #fff;
    font-family: 'Fascinate', cursive;
    margin: 0;
    height: 50px;
}
.tc {
    position: relative;
    display: inline-block;
}
#canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #04BBD3;
    overflow-x: hidden;
}
#header {
    position: absolute;
    top: 0;
    background-color: #fffa;
    width: 100%;
    height: 50px;
    text-align: right;
    z-index: 999;
}
#header h1 {
    position: absolute;
    left: 3%;
    top: 0;
    font-family: 'Fascinate', cursive;
    font-size: 20px;
    margin: 10px auto auto;
    display: inline-block;
    cursor: pointer;
}
#header .tc {
    display: none;
}
#header ul {
    display: none;
    list-style: none;
    position: absolute;
    text-align: left;
    margin: 0;
    right: 0px;
    top: 0px;
    background-color: #fff;
    width: 50vw;
    height: 50vh;
}
#header li {
    margin-top: 50px;
    font-size: 20px;
}
#header button {
    background-color: #0000;
    display: inline;
    position: absolute;
    top: 15px;
    right: 10px;
}
#header button i {
    font-size: 25px;
}
#menu{
    background-color: #0000;
    border: none;
    position: absolute;
    right: 30px;
    top: 15px;
}
#close {
    display: none;
    background-color: #0000;
    border: none;
    position: absolute;
    right: 30px;
    top: 30px;
}
#close i {
    display: none;
}
#body1 {
    position: relative;
    z-index: 1;
    height: 350px;
}
#body1 h2 {
    padding-top: 50px;
}
.iframe-wrapper {
    position: relative;
    display: block;
    margin: 0 auto;
    padding: calc(9 / 16 * 100%) 0 0;
}
.iframe-wrapper iframe {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 70%;
    z-index: 1;
}
#TitleText {
    width: 70%;
    display: block;
    margin: -50px auto 0;
}
#body2,
#body3 {
    display: none;
}
.icom {
    height: 100px;
    animation: 5s linear infinite rotation;
}
.ad{ /* 広告 */
    position: relative;
    width: 70%;
    height: 300px;
    margin-left: 10%;
    display: none;
}
.x {
    color: #0bd;
    background-color: #fffd;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 10px;
    right: 0;
}
.ad img {
    width: 100%;
    height: auto;
    margin: 10px 0 0;
}
#body5 { /* ランキング */
    position: relative;
    width: 100%;
    height: 350px;
    /* overflow-y: scroll; */
    vertical-align: middle;
    text-align: left;
    background-color: #8888;
    padding-top: 30px;
    padding-bottom: 0px;
}
#body5 h2 {
    /* width: 50%; */
    display: inline-block;
    margin: auto 40% auto 7%;
}
#body5 button {
    display: inline-block;
    vertical-align: middle;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    font-size: 25px;
    background-color: #fff8;
    color: #fff;
    transition: 0.2s;
}
#body5 button:hover {
    background-color: #fff1;
    transform: scale(1.1);
    transition: 0.2s;
}
#body5 button:active {
    opacity: 0.5;
}
#container {
    text-align: left;
    width: 90%;
    margin: 1% auto auto 3%;
    /* display: inline-block; */
}
.item {
    margin-top: 10px;
    width: 130%;
}
.hide {
    display: none;
}
#container ul {
    margin-top: 1.5%;
}
#container ul li {
    display: inline-block;
    position: relative;
    text-decoration: none;
    height: 50px;
}
#container ul li div {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.rank {
    font-size: 100%;
    width: 7.5%;
}
.thli {
    /* width: 10%; */
    height: 100%;
    position: relative;
}
.name {
    width: 45%;
}
.name div {
    margin-left: 20px;
    font-size: 100%;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.name a {
    text-decoration: none;
}
.thumb {
    /* width: 100%; */
    height: 100%;
    margin-left: 10px;
}
#body5-1 {
    display: block;
    position: relative;
    padding-top: 10%;
    width: 100%;
    height: 35%;
}
#body5-1 h2 {
    padding-top: 5%;
    padding-bottom: 2.5%;
}
video {
    width: 70%;
}
#body6 {
    height: 300px;
    padding-top: 100px;
}
#body6 .x{
    top: 110px;
}
#body7{
    position: relative;
    width: 100%;
    height: 200px;
}
#body9{
    position: relative;
    width: 100%;
    height: 200px;
}
#form {
    width: 50%;
    height: 100px;
    margin: auto;
    text-align: center;
}
.btn {
    width: 70%;
    height: 50px;
    background-color: #fffa;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}
.btn:active {
    background-color: #fffd;
    transition: 0.1s;
}
footer{
    position: relative;
    width: 100%;
    background-color: #fffa;
    margin: 0;
    height: 150px;
}
footer p {
    padding-top: 30px;
    font-size: 0.9em;
}
footer ul {
    display: none;
}

#copy {
    position: absolute;
    width: 70%;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

/*共通箇所*/


/* ローディング画面 */

#loading {
    width: 100%;
    height: 100%;
    transition: all 1s;
    background-color: #0bd;
    /* 以下のコードを追加 */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

#loading img {
    margin-top: 15vw;
    animation: 5s linear rotation2 infinite;
    animation-timing-function: ease-in;
}

@keyframes rotation2 {
    0% {
        transform: rotate(0) translateY(-100vw) scale(1);
        ;
    }
    20% {
        transform: rotate(0) translateY(0) scale(1);
    }
    80% {
        transform: rotate(1280deg) scale(1);
    }
    100% {
        transform: rotate(3290deg) scale(1);
        opacity: 1;
    }
}

.loaded {
    transform: rotate(0) scale(4) translateY(25vw);
    opacity: 0;
    visibility: hidden;
}

@keyframes rotation {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

a {
    color: white;
}