html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow-x: hidden;
}
/* 480px以下に適用されるCSS（スマホ用） */
#canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #04BBD3;
}
#body1 {
    position: sticky;
    z-index: 1;
}
#body2,
#body3 {
    display: none;
}
.icom {
    height: 100px;
    animation: 5s linear infinite rotation;
}
.iframe-wrapper iframe {
    width: 90vw;
}
.ad{ /* 広告 */
    position: sticky;
    width: 100%;
    height: 500px;
}
.ad img {
    width: 100%;
    height: auto;
}
#body5{
    position: sticky;
    width: 100%;
    height: 500px;
}
#body7{
    position: sticky;
    width: 100%;
    height: 500px;
}
#body9{
    position: sticky;
    width: 100%;
    height: 500px;
}
#footer{
    position: sticky;
    width: 100%;
    height: 500px;
}

/*共通箇所*/


/* ローディング画面 */

#loading {
    width: 100%;
    height: 100%;
    transition: all 1s;
    background-color: #0bd;
    /* 以下のコードを追加 */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

#loading img {
    margin-top: 15vw;
    animation: 5s linear rotation2 infinite;
    animation-timing-function: ease-in;
}

@keyframes rotation2 {
    0% {
        transform: rotate(0) translateY(-100vw) scale(1);
        ;
    }
    20% {
        transform: rotate(0) translateY(0) scale(1);
    }
    80% {
        transform: rotate(1280deg) scale(1);
    }
    100% {
        transform: rotate(3290deg) scale(1);
        opacity: 1;
    }
}

.loaded {
    transform: rotate(0) scale(4) translateY(25vw);
    opacity: 0;
    visibility: hidden;
}

@keyframes rotation {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

a {
    color: white;
}